* {
  box-sizing: border-box;
}

main {
  text-align: center;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 1.25em;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header>h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
  margin: 0.75em auto;
}

header>p {
  font-size: 0.875rem;
  max-width: 21.875rem;
  color: #8E8E8E;
  text-align: center;
  margin: 0 0 1.875em 0;
}

.status {
  padding: 0.75em;
  border-radius: 0.25rem;
  min-width: 22rem;
  height: 4.4375rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.status>.title {
  margin: 0;
  font-size: 1.625rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: bold;
  color: #F9F4DA;
}

.win {
  background-color: #10A95B;
}

.loose {
  background-color: #BA2A2A;
}

.status>.message {
  margin: 0;
  font-size: 1rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: bold;
  color: #F9F4DA;
}

/* Dimmed overlay with skull on "lost" languages */
.lost::before {
  content: "💀";
  position:absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 75%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  border-radius: 0.375rem;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.09375em;
  max-width: 22.9375rem;
  justify-content: center;
  margin: 2.25rem auto 0 auto;
}

.language {
  border-radius: 0.375rem;
  margin: 0;
  font-weight: bold;
  font-family: "Hanken Grotesk", sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5463em 0.5625em;
}

.letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.125em;
  margin: 2.25em auto 0 auto;
  font-family: "Hanken Grotesk", sans-serif;
  max-width: 22.9375rem;
}

.letter {
  color: #F9F4DA;
  padding: 1.125em;
  width: 2.5em;
  height: 2.5em;
  border-bottom: 0.125em solid #F9F4DA;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
}

.keyboard {
  max-width: 30rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.375em;
  margin: 4rem auto auto auto;
}

.key {
  width: 2.5em;
  height: 2.5em;
  color: #1E1E1E;
  padding: 1.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 0.25rem;
  border: 0.125em solid #D7D7D7;
  font-weight: bold;
  font-family: "Hanken Grotesk", sans-serif;
}

.new-game {
  min-width: 11.4375em;
  min-height: 2.5em;
  color: #1E1E1E;
  font-family: "Hanken Grotesk", sans-serif;
  margin: 2.25em 0 4.5625em 0;
  background-color: #11B5E5;
  border-radius: .25em;
  border: none;
  font-weight: bold;
  border: solid 0.0625em #D7D7D7;
}

.base {
  background-color: #FCBA29;
}

.right {
  background-color: #10A95B;
}

.wrong {
  background-color: #EC5D49;
}